@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  position: sticky;
}

.navbar.scrolled {
  background-color: #020817;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* Закрепи навбар вверху */
  z-index: 1000;
  /* Подними навбар над остальными элементами страницы */
  transform: scaleY();
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.4s; /* Добавьте плавный переход для анимации */
}

.navbar.scrolled .logo {
  transform: scale(0.7);
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 120%;
  color: darkslategray;
  margin: auto;
}

thead {
  background-color: #d3d8de; /* Цвет фона заголовка таблицы */
}

th, td {
  border: 2px solid #000;
  padding: 1%;
  text-align: left;
}

td {
  width: 33.33%;
}

tbody {
  background-color: #ffffff; /* Цвет фона тела таблицы */
}